html,
body {
    min-width: 768px;
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
}

.main-header {
    margin: 0 auto;
    padding: 0 0;
}

.main-header a {
    display: block;
}

.container {
    width: 768px;
    margin: 0 auto;
    padding: 0 0;
}


.logo {
    position: relative;
    top: 0px;
    left: -6px;
    width: 138px;
    height: 70px;
    background: url("../img/logo.png");
    background-repeat: no-repeat;
    align-self: baseline;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 56px;
    background-color: #ffffff;
}

.navigation-item {
    height: 43px;
}

.navigation-item-info {
    width: 20%;
    margin-left: 6%;
    padding-left: 0px;
    text-align: left;
}

.navigation-item-foto {
    width: 100px;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}

.navigation-item-map {
    width: 91px;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
}

.navigation-item-hotel {
    width: 20%;
    margin-right: 6%;
    text-align: right;
}

.navigation-item a {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.navigation .active a {
    color: #766357;
}

.navigation a:hover {
    color: #81b3d2;
}

.navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.intro {
    width: 768px;
    height: 512px;
    margin: 0 auto;
    padding: 0 0;
    background:
        url("../img/welcome-sedona.png"),
        url("../img/background-sedona-768.jpg");
    background-position: center 77px, bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.caption {
    width: 676px;
    height: 173px;
    margin: 0 auto;
    padding: 0 0;
    padding-top: 38px;
    text-align: center;
}

.caption p {
    padding-top: 12px;
}

.announcement {
    margin: 20 0 0 0;
}

.caption h2 {
    font-size: 21px; 
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.announcement p {
    margin: 18 0 0 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.presentation-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    height: 256px;
    padding: 0;
    background-color: #81b3d2;
}


.advantages h3 {
    width: 176px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 8px;
    font-size: 21px; 
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

.advantages-1 p,
.advantages-2 p {
    width: 199px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

.p-center {
    font-weight: normal;
    margin: 0 auto;
}

.p-bottom {
    margin: 0 auto;
    margin-top: 21px;
    font-weight: normal;
}

.advantages-1 {
    flex-basis: 33.3%;
    text-align: center;
}

.advantages-img1 {
    height: 256px;
    flex-basis: 66.7%;
    padding: 0;
    margin: 0;
    background: url("../img/sity-of-sedona.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #ffffff;
    text-align: center;
}

.presentation-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    padding: 0;
}

.offer-choice {
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
    font-weight: normal;
    text-align: center;
}

.offer-choice h3 {
    padding-top: 23px;
    color: #000000;
}

.offer-choice p {
    width: 170px;
    margin: 0 auto;
    margin-bottom: auto;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    
}

.offer-choice-icon {
    width: 78px;
    height: 72px;
    margin: 0 auto;
    margin-top: auto;
}

.icon-house {
    background: url("../img/offer-choice-icon.png") no-repeat;
    background-position: left center;
}

.icon-food {
    background: url("../img/offer-choice-icon.png") no-repeat;
    background-position: -255px center;
}

.icon-souvenirs {
    background: url("../img/offer-choice-icon.png") no-repeat;
    background-position: -511px center;
}

.presentation-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    padding: 0;
    background-color: #81b3d2;
}

.advantages-2 {
    flex-basis: 33.3%;
    text-align: center;
}

.advantages-2 .p-bottom {
    font-weight: normal;
}

.advantages-img2 {
    height: 256px;
    flex-basis: 66.7%;
    padding: 0;
    margin: 0;
    background-image: url("../img/bridge-of-devil.jpg");
    background-position: center;
    background-size: contain;
    background-color: #ffffff;
    text-align: center;
}

.presentation-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    background-color: #eeeeee;
}

.presentation-4 h3 {
    color: #000000;
}

.presentation-4 p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.advantages-other {
    flex-basis: 33.3%;
    display: flex;
    height: 256px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.advantages-other h3 {
    margin-top: 48px;
}

.advantages-other .p-bottom {
    margin-bottom: auto;
}

.searchform {
    height: 291px;
    margin: 0 auto;
    padding: 0 0;
    text-align: center;
}

.searchform p:nth-of-type(2) {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.question {
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 57px;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}

.searchform-slideout {
    position: relative;
    top: 33px;
    width: 568px;
    margin: 0 auto;
    padding: 0 0;
}

.start-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 568px;
    height: 86px;
    background-color: #766357; 
}

.start-search p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.search-hotels {
    width: 568px;
    height: 395px;
    margin: 0 auto;
    padding: 0 0;
    background-color: #ffffff;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.search-hotels fieldset {
    width: 480px;
    margin: 0 auto;
    padding: 0;
    padding-top: 55px;
    border: none;
}

.search-hotels label {
    display: inline-block;
    height: 50px;
    margin: 0;
    margin-bottom: 15px;
    padding-left: 5px;
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
}

fieldset .date {
    width: 466px;
    margin-left: 5px;
}

fieldset .grown {
    width: 275px;
}

fieldset .children {
    width: 185px;
    padding-left: 0;
}

.date input {
    width: 330px;
    height: 35px;
    margin-left: 20px;
    margin-right: 0;
    padding-left: 14px;
    background-color: #f2f2f2;
    border: none;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.date-exit input{
    margin-left: 17px;
    padding-top: 3px;
}

.number label {
    padding-top: 4px;
}

.grown label {
    width: 110px;
}

.grown input {
    width: 108px;
    height: 35px;
    margin-top: 2px;
    margin-left: 35px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #f2f2f2;
    border: none;
    text-align: center;
}

.children input {
    width: 113px;
    height: 35px;
    margin-top: 2px;
    margin-left: 23px;
    padding-top: 5px;
    background-color: #f2f2f2;
    border: none;
    text-align: center;
}

.data-icon-entry,
.data-icon-exit {
    position: absolute;
    width: 22px;
    height: 21px;
    background-image: url("../img/calendar-icon.png");
    background-repeat: no-repeat;
    background-position: -66px center;
}

.data-icon-entry:hover,
.data-icon-exit:hover {
    background-position: -4px center;
}

.data-icon-entry:active,
.data-icon-exit:active {
    background-position: -35px center;
}

.data-icon-entry {
    top: 147px;
    left: 481px;
}

.data-icon-exit {
    top: 215px;
    left: 481px;
}

.grown-select-down,
.grown-select-up,
.children-select-down,
.children-select-up {
    position: absolute;
    width: 11px;
    height: 15px;
    border-style: none;
    background-color: #f2f2f2;
}

.grown-select-down:hover,
.grown-select-up:hover,
.children-select-down:hover,
.children-select-up:hover {
    background-color: #f2f2f2;
}

.grown-select-down {
    top: 288px;
    left: 180px;
}

.grown-select-up {
    top: 288px;
    left: 255px;
}

.children-select-down {
    top: 288px;
    left: 412px;
}

.children-select-up {
    top: 288px;
    left: 488px;
}

.grown-select-up::after,
.children-select-up::after {
    transform: rotate(90deg);
}

.grown-select-down::before,
.grown-select-up::before,
.grown-select-up::after,
.children-select-down::before,
.children-select-up::before,
.children-select-up::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.grown-select-down:hover:before,
.grown-select-up:hover:before,
.grown-select-up:hover:after,
.children-select-down:hover:before,
.children-select-up:hover:before,
.children-select-up:hover:after {
    background-color: #000000;
}

.grown-select-down:active:before,
.grown-select-up:active:before,
.grown-select-up:active:after,
.children-select-down:active:before,
.children-select-up:active:before,
.children-select-up:active:after {
    background-color: #81b3d2;
}

.search {
    width: 458px;
    height: 58px;
    margin-top: 30px;
    border: none;
    background-color: #81b3d2;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.search:hover {
    background-color: #669ec0;
}

.search:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}

.map {
    height: 473px;
    margin: 0 auto;
    margin-top: 2px;
    padding: 0 0;
    background-image: url("../img/map.jpg");
    background-position: top;
}



/* --------------------CSS Sedona-hotels--------------------------- */




.filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 768px;
    height: 205px;
    margin: 0 auto;
    padding: 0;
    padding-top: 13px;
    background-image: url("../img/background-filter.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    color: #ffffff;
}

.filter h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.filter label {
    font-size: 16;
    font-weight: normal;
    line-height: 21px;
}

.filter-infrastructure {
    width: 153px;
    padding-left: 46px;
}
.filter-infrastructure h2,
.filter-infrastructure label,
.filter-property h2,
.filter-property label {
    display: inline-block;
    width: 153px;
    margin-bottom: 24px;
}

.filter-infrastructure label:nth-last-of-type(2),
.filter-property label:nth-last-of-type(2) {
    margin-bottom: 20px;
}

.checkbox {
    padding-left: 15px;
    cursor: pointer;
}

.checkbox-indicator {
    display: block;
    float: left;
    position: relative;
    top: -1px;
    left: -14px;
    width: 26px;
    height: 22px;
    padding-left: 0px;
    background-image: url(../img/checkbox.png);
    background-repeat: no-repeat;
    background-position: -5px -101px;
    cursor: pointer;
}

.checkbox-indicator:hover,
input[type="checkbox"]:checked + .checkbox-indicator {
    background-position: -5px -5px;
}

input[type="checkbox"]:disabled + .checkbox-indicator {
    background-position: -5px -69px;
}

input[type="checkbox"]:checked:disabled + .checkbox-indicator {
    background-position: -5px -36px;
}

.checkbox input[type="checkbox"] {
   display: none;
}

.filter-property {
    width: 160px;
    padding-left: 40px;
}

.filter-property .checkbox-label {
    background-image: url("../img/checkbox-icon.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 40px;
}

.filter-prices {
    width: 224px;
    margin-right: 45px;
    padding-left: 8px;
    text-transform: uppercase;
    color: #ffffff;
}

.filter-prices h2 {
    margin-left: 5px;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.interval-prices {
    position: relative;
    height: 32px;
    margin-top: 12px;
    margin-bottom: 20px;
    padding-left: 25px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

.interval-prices::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background: #ffffff;
}

.interval-prices label {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    vertical-align: bottom;
    cursor: pointer;
}

.interval-prices .price-min,
.interval-prices .price-max {
    width: 70px;
    margin-left: 15px;
    padding-left: 0px;
}

.interval-prices .price-max {
    margin-left: 30px;
}

.interval-prices input {
    width: 40px;
    margin: 0;
    background: none;
    border: none;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
}

.scale {
    height: 2px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.band {
    width: 74.4%;
    height: 2px;
    margin-left: 10px;
    background-color: #ffffff;
}

.slider {
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
    cursor: pointer;
}

.slider:hover {
    background-color: #1c4f80;
}

.slider-min {
    position: relative;
    top: -11px;
    left: 3px;
}

.slider-max {
    position: relative;
    top: -31px;
    left: 3px;
    transform: translateX(780%);
}

.filter-btn {
    display: block;
    margin: 0 auto;
    margin-top: -10px;
    padding: 6px 30px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
}

.filter-btn:hover {
    color: #000000;
    background-color: #ffffff;
}

.search-results {
    display: flex;
    align-items: stretch;
    max-height: 86px;
    margin-bottom: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: #e5e5e5 solid 1px;
}

.search-results-p {
    width: 150px;
    margin-top: 24px;
    padding-left: 47px;
}

.search-results p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.search-btn {
    display: flex;
    align-items: stretch;
    width: 372px;
    margin: 0;
}

.search-btn p {
    width: 100px;
    margin-top: 24px;
    padding-left: 13px;
    padding-top: 5px;
}

.search-btn p,
.search-btn a {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
}

.search-btn li {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    list-style: none;
}

.search-btn li:not(.active) a {
    color: #cccccc;
    border-bottom: 1px dotted #81b3d2;
}

.search-btn .active a {
    color: #81b3d2;
}

.search-btn li a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.search-btn li a:active {
    color: #000000;
    border-bottom: none;
}

.search-btn ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    list-style: none;
}

.search-btn li:first-child {
    margin-left: 15px;
    margin-right: 35px;
}

.search-btn li:last-child {
    margin-left: auto;
}

.sorting {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 110px;
    margin: 0;
    margin-left: auto;
    padding-top: 8px;
}

.sorting a {
    width: 11px;
    height: 10px;
    margin-right: 12px;
}

.sorting-up {
    background-image: url(../img/up.png);
    background-repeat: no-repeat;
    background-position: -5px -45px;
}

.sorting a:hover {
    background-position: -5px -5px;
}

.sorting a:active {
    background-position: -5px -25px;
}

.sorting-down {
    background-image: url(../img/down.png);
    background-repeat: no-repeat;
    background-position: -5px -45px;
}

.sorting .active {
    background-position: -5px -25px;
}

.proposal {
    display: flex;
    align-items: center;
    width: 768px;
    height: 140px;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 8px;
    border-top: #e5e5e5 solid 1px;
    border-bottom: #e5e5e5 solid 1px;
}

.first {
    padding-top: 10px;
    padding-top: 4px;
}

.foto {
    width: 135px;
    margin: 0;
    margin-top: 5px;
    margin-left: 47px;
    margin-right: 30px;
}

.name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 373px;
    margin-top: 30px;
    padding-top: 10px;
}

.name h2 {
    width: 727px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.name h2:hover {
    color: #81b3d2;
}

.name h2:active {
    color: rgba(0, 0, 0, 0.3);
}

.name p {
    width: 110px;
    margin-top: -12px;
    margin-right: 5px;
}

.link {
    width: 370px;
    height: 27px;
    min-height: 32px;
    margin-top: -1px;
    margin-bottom: 52px;
}

.more {
    display: inline-block;
    min-width: 94px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    margin-right: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    background-color: #81b3d2;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

.more:hover {
    background-color: #669ec0;
}

.more:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.reserve {
    display: inline-block;
    width: 142px;
    height: 24px;
    vertical-align: middle;
    padding-top: 2px;
    text-align: center;
    background-color: #766357;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

.reserve:hover {
    background-color: #604e43;
}

.reserve:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 153px;
    height: 108px;
    align-self: stretch;
    margin: 0;
    margin-left: 18px;
    padding-top: 28px;
    background-color: #ffffff;
}

.rating-icon {
    width: 89px;
    height: 17px;
    margin: 0 auto;
}

.rating-number {
    width: 112px;
    height: 23px;
    margin-top: 45px;
    margin-left: 10px;
    padding-top: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    background-color: #f2f2f2;
}

.four {
    background-image: url(../img/stars.png);
    background-repeat: no-repeat;
    background-position: center;
}

.three {
    background-image: url(../img/stars.png);
    background-repeat: no-repeat;
    background-position: 23px center;
}

.two {
    background-image: url(../img/stars.png);
    background-repeat: no-repeat;
    background-position: 46px center;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    padding-top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: #e5e5e5 solid 1px;
}

.footer-hashtag {
    width: 33.3%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 47px;
    padding: 0;
    text-align: center;
}

.footer-hashtag a {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.footer-social {
    width: 33.3%;
    margin: 0; 
    text-align: center;
}

.footer-social a {
    background-color: #81b3d2;
    font-size: 12px;
    text-decoration: none;
    color: #81b3d2;
}

.footer-social a:hover {
    background-color: #669ec0;
}

.footer-social a:active {
    background-color: #5496bd;
}

.social-btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-top: 2px;
}

.social-btn-tw {
    margin-left: -3px;
    margin-right: 3px;
    background-image: url("../img/social-icon.png");
    background-repeat: no-repeat;
    background-position: -54px 7px;
}

.social-btn-fb {
    margin-right: 3px;
    background-image: url("../img/social-icon.png");
    background-repeat: no-repeat;
    background-position: 8px 4px;
}

.social-btn-yt {
    background-image: url("../img/social-icon.png");
    background-repeat: no-repeat;
    background-position: -130px 7px;
}

.social-btn-tw:active {
    background-position: -91px center;
}

.social-btn-fb:active {
    background-position: -22px center;
}

.social-btn-yt:active {
    background-position: -170px center;
}

.footer-copyright {
    width: 33.3%;
    text-align: center;
}

.footer-copyright p,
.footer-copyright a {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
}

.footer-copyright p {
    padding-bottom: 5px;
}


.footer-copyright a {
    width: 113px;
    height: 40px;
    margin-left: 4px;
    margin-top: -1px;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url("../img/html-academy.png");
    background-repeat: no-repeat;
    background-position: -6px -6px;
}

.footer-copyright a:hover {
    background-image: url("../img/html-academy.png");
    background-position: -6px -57px;
}

.footer-copyright a:active {
    background-image: url("../img/html-academy.png");
    background-position: -6px -108px;
}