html,
body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
}

body {
    font-size: 14px;
    font-family: "PT Sans Narrow";
    line-height: 26px;
    text-transform: uppercase;
    color: #333333;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

h2 {
    font-size: 21px;
    font-weight: bold;
}

h3 {
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

p {
    line-height: 21px;
}

b {
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
}


.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    outline: red solid 2px;
}

.main-header {
    height: 56px;
}

.logo {
    width: 138px;
    height: 70px;
    position: relative;
    z-index: 10;
}

.main-navigation {
    text-align: center;
    outline: green solid 2px;
}


.main-navigation li  {
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px;
    width: 140px;
    text-align: center;
    outline: black solid 2px;
}


.intro {
    position: relative;
    z-index: 3;
}

.announcement {
    width: 576px;
    margin: 0 auto;
    text-align: center;
    outline: green solid 2px;
}

.advantages {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    text-align: center;
}

.advantages-1,
.advantages-2 {
    width: 400px;
    height: 260px;
    background-color: #81b3d2;
    color: #ffffff;
}

.advantages-1 p {
    padding: 0 80px;
}

.advantages-2 p {
    padding: 0 70px;
}

.advantages-img1,
advantages-img2 {
    width: 800px;
    height: 260px;
}

.offer-choice {
    width: 400px;
    height: 330px;
    text-align: center;
    box-sizing: border-box;
    outline: yellow solid 2px;
}

.offer-choice p {
    margin: 0 70px;
}


.offer-title {
    color: #000000;
}

.advantages-other {
    width: 400px;
    height: 256px;
    outline: green solid 2px;
}

.searchform {
    text-align: center;
    outline: yellow solid 2px;
}

.searchform-slideout {
    position: relative;
    z-index: 5;
    width: 576px;
    height: 484px;
    margin: 0 auto;
    outline: green solid 2px;
}

.searchform-slideout label {
    display: block;
}

.map {
    position: relative;
    z-index: 2;
    margin-top: -397px;
    outline: orange solid 2px;
}

.filter {
    outline: orange solid 2px;
}

.filter-infrastructure,
.filter-property {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    outline: green solid 2px;
}

.filter label,
.filter button {
    display: block;
}

.filter-prices {
    float: right;
    vertical-align: top;
    outline: green solid 2px;
}

.search-results {
    outline: green solid 2px;
}

.search-results > *,
.search-results > * > *,
.search-results > * > * > * {
    display: inline-block;
    margin: 0;
    outline: black solid 2px;
}

.sorting {
    float: right;
    width: 40px;
    height: 30px;
    outline: green solid 2px;
}

.offers {
    outline: blue solid 2px;
}

.proposal {
    outline: orange solid 2px;
}

.foto,
.name,
.rating {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.foto {
    margin-top: 20px;
}

.name {
   width: 280px; 
}

.name p {
    display: inline-block;
    margin: 0;
}

.proposal a {
    display: block;
}

.link a {
    display: inline-block;
    margin: 0;
}

.rating {
    float: right;
    vertical-align: bottom;
}

.main-footer {
  padding-top: 10px;
  padding-bottom: 40px;
  min-height: 120px;
}

.footer-hashtag {
    display: inline-block;
    width: 240px;
    max-height: 120px;
    margin: 0 50px;
    padding-top: 40px;
    vertical-align: middle;
    text-align: center;
    outline: green solid 2px;
}

.footer-social {
    display: inline-block;
    width: 400px;
    max-height: 120px;
    margin: 10 50px;
    padding-top: 40px;
    vertical-align: middle;
    text-align: center;
    outline: green solid 2px;
}

.footer-copyright {
    float: right;
    width: 240px;
    max-height: 120px;
    vertical-align: middle;
    text-align: center;
    outline: green solid 2px;
}